{% include 'Elements/header.html.twig' %}
{% include 'Elements/nav-menu.html.twig' %}

  <div class="container">
    <h1 class="title">Ajouter un salarié</h1>
    <form method="POST" action="/salarie/add">
      <div class="form-group">
        <label for="formFirstname">Prénom</label>
        <input type="text" class="form-control" id="formFirstname" placeholder="Prénom">
        <label for="formLastname">Nom</label>
        <input type="text" class="form-control" id="formLastname" placeholder="Nom">
        <label for="formEmail">Adresse email</label>
        <input type="email" class="form-control" id="formEmail" placeholder="adresse@mail.com">
        <label for="formSalary">Salaire mensuel</label>
        <input type="number" class="form-control" id="formSalary" placeholder="1000">
      </div>
      <button type="submit" class="btn btn-primary mb-2">Ajouter un salarié</button>
    </form>
  </div>

{% include 'Elements/footer.html.twig' %}